{% extends "base.html" %}
{% block title %} Agregar Cliente {% endblock %}
{% load static %}

{% block content %}
<style>
    .agregar {
        background-color: rgba(97, 201, 125, 0.703);
        padding: 10px;
    }

    .agregar input,
    textarea {
        margin: 5px;
        padding: 10px;
    }
</style>
{% if user.is_authenticated %}
<div class="container m-lg-10 pl-5 pr-5 mb-5">
    <div style="margin: 10px;">
        <h2>Agregar cliente</h2>
        <form action="#" method="post" enctype="multipart/form-data" class="agregar">
            {% csrf_token %}
            {{ formulario.as_p}}
            <input type="submit" class="btn btn-success" value="Agregar Cliente">
            <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
        </form>
    </div>
</div>
{% else %}
<h1 class="text-center text-danger">ALTO AHI RUFIAN, NO TIENES PERMISO PARA INGRESAR A ESTA PAGINA</h1>
{% endif %}

{% endblock %}