{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2 class="text-center">Estado de pedidos</h2>
<div class="container-fluid">
    <div class="container">
    <table class="table table-striped bg-light">
        <thead>
            <tr class="bg-secondary">
                <th>Fecha de pedido</th>
                <th>Estado del pedido</th>
                <th>Nombre del producto</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pedidos %}
            <tr>
                <td>{{ p.fecha_solicitud }}</td>
                <td>{{ p.estado }}</td>
                <td>{{ p.producto_nombre }}</td>
            </tr>
            {% endfor %}
            <a class="btn btn-success float-right" href="{% url 'home' %}">Aceptar</a>
        </tbody>
        
    </table>
</div>
</div>




{% endblock content %}
