{% extends "base.html" %}
{% block title %} Preguntas {% endblock %}
{% load static %}

{% block content %}
    <!--banner-->
    <img src="{% static 'img/wall3.jpg' %}" alt="" class="banner-img">

    <div class="preguntas">
      <div class="card text-center pregunta">
        <div class="card-body">
          <h5 class="card-title">¿TIENEN TIENDA FÍSICA EN SANTIAGO?</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est non fuga vitae aut
            fugiat consequuntur magni unde inventore ex! Commodi illo qui porro delectus vero deleniti consequuntur
            quam iste! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est non fuga vitae aut
            fugiat consequuntur magni unde inventore ex! Commodi illo qui porro delectus vero deleniti consequuntur
            quam iste!</p>
        </div>
      </div>

      <div class="card text-center pregunta">
        <div class="card-body">
          <h5 class="card-title">¿DESPACHAN A TODO CHILE?</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est non fuga vitae aut
            fugiat consequuntur magni unde inventore ex! Commodi illo qui porro delectus vero deleniti consequuntur
            quam iste!</p>
        </div>
      </div>

      <div class="card text-center pregunta">
        <div class="card-body">
          <h5 class="card-title">¿CÓMO PUEDO COMPRAR EN FOREVER PC?</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est non fuga vitae aut
            fugiat consequuntur magni unde inventore ex! Commodi illo qui porro delectus vero deleniti consequuntur
            quam iste!.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est non fuga vitae aut
            fugiat consequuntur magni unde inventore ex! Commodi illo qui porro delectus vero deleniti consequuntur
            quam iste!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est non fuga vitae aut
            fugiat consequuntur magni unde inventore ex! Commodi illo qui porro delectus vero deleniti consequuntur
            quam iste!</p>
        </div>
      </div>

      <div class="card text-center pregunta">
        <div class="card-body">
          <h5 class="card-title">¿PAGOS:?</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est non fuga vitae aut
            fugiat consequuntur magni unde inventore ex! Commodi illo qui porro delectus vero deleniti consequuntur
            quam iste!</p>
        </div>
      </div>

      <div class="card text-center pregunta">
        <div class="card-body">
          <h5 class="card-title">¿QUÉ MEDIO DE PAGO PUEDO USAR?</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est non fuga vitae aut
            fugiat consequuntur magni unde inventore ex! Commodi illo qui porro delectus vero deleniti consequuntur
            quam iste!.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est non fuga vitae aut
            fugiat consequuntur magni unde inventore ex! Commodi illo qui porro delectus vero deleniti consequuntur
            quam iste!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est non fuga vitae aut
            fugiat consequuntur magni unde inventore ex! Commodi illo qui porro delectus vero deleniti consequuntur
            quam iste!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est non fuga vitae aut
            fugiat consequuntur magni unde inventore ex! Commodi illo qui porro delectus vero deleniti consequuntur
            quam iste!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est non fuga vitae aut
            fugiat consequuntur magni unde inventore ex! Commodi illo qui porro delectus vero deleniti consequuntur
            quam iste!</p>
        </div>
      </div>

      <div class="card text-center pregunta">
        <div class="card-body">
          <h5 class="card-title">¿DESPACHOS: ?</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est non fuga vitae aut
            fugiat consequuntur magni unde inventore ex! Commodi illo qui porro delectus vero deleniti consequuntur
            quam iste!.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est non fuga vitae aut
            fugiat consequuntur magni unde inventore ex! Commodi illo qui porro delectus vero deleniti consequuntur
            quam iste!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est non fuga vitae aut
            fugiat consequuntur magni unde inventore ex! Commodi illo qui porro delectus vero deleniti consequuntur
            quam iste!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est non fuga vitae aut
            !</p>
        </div>
      </div>

    </div>

    {% endblock %}